.cabecalho {
    background-color: #2471A3;
}

.cabecalho-barra {
    height: 1.2rem;
    padding-right: 10px;
}

.cabecalho-lista-linha {
    padding-right: 10px;
    font-size: 0.8rem;
    color: #FFF;
}

@media screen and (max-width: 375px) {

    .cabecalho-nome {
        display: table;
        margin: 0 auto;
        padding: 10px;
        font-size: 1rem;
        color: #FFF;
    }

    .cabecalho-barra {
        display: none;
    }

    .cabecalho-lista {
        display: table;
        margin: 0 auto;
    }

    .cabecalho-lista li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 375px) {

    .cabecalho-nome {
        display: table;
        margin: 0 auto;
        padding: 10px;
        font-size: 1rem;
        color: #FFF;
    }

    .cabecalho-barra {
        display: none;
    }

    .cabecalho-lista {
        display: table;
        margin: 0 auto;
    }

    .cabecalho-lista li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px){
    .cabecalho {
        display: flex;
        align-items: center;
    }

    .cabecalho-nome {
        display: unset;
        margin: 0;
    }

    .cabecalho-barra {
        display: initial;
    }

    .cabecalho-lista {
        display: flex;
        margin-left: 0px;
    }
}