.secao_1-div_2 {
    box-shadow: 5px 5px 20px rgb(0, 0, 0, .75);
    border-radius: 10px;
}


@media screen and (max-width: 375px){
    .principal {
        padding: 40px 0px 40px 0px;
    }

    .principal h1, .principal p {
        display: table;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .principal img {
        width: 100vw;
        padding: 10px;
    }

    .secao_1-div_2 {
        background-color: #28B463;
        display: table;
        margin: 0 auto;
        width: 80vw;
        height: 100vh;
    }

    .secao_1-div_2-formulario {
        height: 95%;
    }

    .secao_1-div_2 h1, .secao_1-div_2 h2, .secao_1-div_2 h3, .secao_1-div_2 h4, .secao_1-div_2 h5, .secao_1-div_2 h6 {
        padding: 10px;
    }

    .secao_1-div_2 label {
        padding-left: 10px;
    }

    .secao_1-div_2 input {
        display: block;
        padding: 5px;
        border-radius: 10px;
        border-color: #D4E6F1;
        background-color: #FFF;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 93%;
    }

    .secao_1-div_2-botao {
        display: table;
        padding: 10px;
        border-radius: 10px;
        border-color: #D4E6F1;
        color: #2471A3;
        margin: 0 auto;
    }

}

@media screen and (min-width: 375px){
    .principal {
        padding: 40px 0px 40px 0px;
    }

    .principal h1, .principal p {
        display: table;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .principal img {
        width: 100vw;
        padding: 10px;
    }

    .secao_1-div_2 {
        background-color: #28B463;
        display: table;
        margin: 0 auto;
        width: 80vw;
        height: 90vh;
    }

    .secao_1-div_2-formulario {
        height: 90%;
    }

    .secao_1-div_2 h1, .secao_1-div_2 h2, .secao_1-div_2 h3, .secao_1-div_2 h4, .secao_1-div_2 h5, .secao_1-div_2 h6 {
        padding: 10px;
    }

    .secao_1-div_2 label {
        padding-left: 10px;
    }

    .secao_1-div_2 input {
        display: block;
        padding: 5px;
        border-radius: 10px;
        border-color: #D4E6F1;
        background-color: #FFF;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 93%;
    }

    .secao_1-div_2-botao {
        display: table;
        width: 90%;
        padding: 10px;
        border-radius: 10px;
        border-color: #D4E6F1;
        color: #2471A3;
        margin: 0 auto;
    }

}

@media screen and (min-width: 768px) {

    .principal {
        padding: 40px;
    }

    .principal img {
        width: calc(40vw - 60px);
        display: table;
        margin: 0 auto;
        height: 70vh;
    }

    .secao_1 {
        display: flex;
        justify-content: space-between;
    }

    .secao_1-div_1 {
        width: calc(50vw - 110px);
    }

    .secao_1-div_2 {
        width: calc(50vw - 110px);
        height: 90vh;
    }

    .secao_1-div_2-botao {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1327px) {

    .principal {
        padding: 40px 240px 40px 240px;
    }

    .principal img {
        width: calc(40vw - 200px);
        display: table;
        margin: 0 auto;
        height: 70vh;
    }

    .secao_1-div_1 {
        width: calc(50vw - 240px);
    }

    .secao_1-div_2 {
        width: calc(50vw - 280px);
        height: 90vh;
    }

    .secao_1-div_2-botao {
        margin: 0 auto;
    }

}