.principal {
    
}

.secao_1-nome {

}

.secao_1-menu_1 {
    display: flex;
    align-items: center;
}

.secao_1-menu_1-div_1 {
    display: flex;
}

.secao_1-menu_1-pessoa_icone {
    height: 2rem;
    padding-right: 10px;
}

.secao_1-menu_1-naming {
    margin-top: 2px;
    font-size: 0.8rem;
    padding-right: 10px;
}

.secao_1-menu_1-div_2 {
    display: flex;
}

.secao_1-menu_1-chave_icone {
    height: 2rem;
    padding-right: 10px;
}

.secao_2-paragrafo_1 {
    font-size: 0.8rem;
}

.secao_3-div_1 {
    width: 210px;
    height: 280px;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 7px 7px 20px rgb(0, 0, 0, .75);
}

.secao_3-div_2 {
    width: 210px;
    height: 280px;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 7px 7px 20px rgb(0, 0, 0, .75);
}

.secao_3-div_3 {
    width: 210px;
    height: 280px;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 7px 7px 20px rgb(0, 0, 0, .75);
}

.secao_3-div_4 {
    width: 210px;
    height: 280px;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 7px 7px 20px rgb(0, 0, 0, .75);
}

.secao_3 img {
    display: table;
    height: 120px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.secao_3 h6, p {
    padding-left: 10px;
    padding-right: 10px;
}

.secao_3 p {
    font-size: 0.7rem;
}

.secao_3-div_1 div {
    background-color: #fff;
    color: #2471A3;
    font-size: 0.8rem;
    width: 210px;
    position: relative;
    right: 10px;
    bottom: -46px;
    display: table;
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.secao_3-div_1 div:hover {
    background-color: #D0D3D4;
    cursor: pointer;
}

.secao_3-div_2 div {
    background-color: #fff;
    color: #2471A3;
    font-size: 0.8rem;
    width: 210px;
    position: relative;
    right: 10px;
    bottom: -46px;
    display: table;
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.secao_3-div_2 div:hover {
    background-color: #D0D3D4;
    cursor: pointer;
}

.secao_3-div_3 div {
    background-color: #fff;
    color: #2471A3;
    font-size: 0.8rem;
    width: 210px;
    position: relative;
    right: 10px;
    bottom: -46px;
    display: table;
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.secao_3-div_3 div:hover {
    background-color: #D0D3D4;
    cursor: pointer;
}

.secao_3-div_4 div {
    background-color: #fff;
    color: #2471A3;
    font-size: 0.8rem;
    width: 210px;
    position: relative;
    right: 10px;
    bottom: -23px;
    display: table;
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.secao_3-div_4 div:hover {
    background-color: #D0D3D4;
    cursor: pointer;
}

@media screen and (max-width: 375px) {

    .secao_1 {
        margin: 40px 40px 40px 40px;
    }

    .secao_2 {
        margin: 40px 40px 40px 40px;
    }

    .secao_3 {
        margin: 40px 0px 40px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .secao_4 {
        margin: 40px 0px 40px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .secao_4 iframe {
        margin-top: 30px;
        margin-bottom: 30px; 
        background-color: #fff;
    }
}

@media screen and (min-width: 375px){
    
    .secao_1 {
        margin: 40px 40px 40px 40px;
    }

    .secao_2 {
        margin: 40px 40px 40px 40px;
    }

    .secao_3 {
        margin: 40px 40px 40px 40px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .secao_4 {
        margin: 40px 40px 40px 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .secao_4 iframe {
        margin-top: 30px;
        margin-bottom: 30px; 
        background-color: #fff;
    }

    .secao_4 p {
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 768px){

    .secao_1 {
        margin: 40px 240px 40px 240px;
        display: flex;
        justify-content: space-between;
    }

    .secao_2 {
        margin: 40px 240px 40px 240px;
    }

    .secao_3 {
        margin: 40px 240px 40px 240px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .secao_4 {
        margin: 40px 240px 40px 240px;
        display: flex;
        flex-wrap: wrap;
    }

    .secao_4 iframe {
        width: 50vw;
        height: 50vh;
        margin-top: 30px;
        margin-bottom: 30px; 
        background-color: #fff;
    }
    
}


@media screen and (min-width: 1327px){
    
    .secao_3 {
        margin: 40px 240px 40px 240px;
        display: flex;
        justify-content: space-between;
    }

    .secao_4 {
        margin: 40px 240px 40px 240px;
        display: flex;
        justify-content: space-between;
    }

    .secao_4 iframe {
        width: calc(50vw - 250px);
        height: 40vh;
        margin-top: 30px;
        margin-bottom: 30px; 
        background-color: #fff;
    }

    .secao_4 div {
        margin-top: 30px;
        width: calc(50vw - 250px);
        height: 40vh;
    }
}
