.rodape {
    background-color: #17202A;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rodape-imagem {
    height: 1.8rem;
}

.rodape h1 {
    color: #FFF;
    font-size: 1.6rem;
    padding: 5px;
}